/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}

.team-card-container {
  width: 90%;
  max-width: 600px;
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 25px;
  height: 40px;
}

.heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
  margin-left: 12px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }

  .team-card-container {
    width: 90%;
    max-width: 1110px;
  }

  .ipl-logo {
    width: 60px;
    height: 96px;
  }

  .heading {
    font-size: 72px;
    margin-left: 16px;
  }
}
